h1, h2, h3, h4, .tagline {
	font-family: Lato;
	text-transform: lowercase;
}


body {
	font-size: 100%;
	font-family: Enriqueta;
	margin: 0;
}

header {
	text-align: center;
	background: #D8CFAF;
	color: #26241f;
	padding: 15% 5% 5% 5%;
}

.topbar {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 40px;
	padding: 1% 2%;
	background: #476A6F;
	color: #E4FDE1;
	box-shadow: 1px 5px 5px rgba(1,1,1,1);
}
.topbar a:visited {
	color: #E4FDE1;
}

.pagetitle {
	float: left;
	font-size: 85%;
	padding-top: 1.5%;
}
nav {
	background-color: none;
	color: #E4FDE1;
	text-align: right;
	position: fixed;
	top: 15px;
	right: 50px; /* the start of this div location is what pushes the menu icon to the right.  change in media query */
}
nav a {
	color: #E4FDE1;
}
.dropdown {
	display:none; /* doesnt display dropdown by default */
	padding-right: 25px; /* padding for list of menu items */
	padding-top: 2%;
	padding-bottom: 2%;
	line-height: 1.7em;;
	background-color: rgba(71,106,111,.95);
}
.dropdown li {
	list-style: none; /* eliminate bullet points */
}
.dropdown i {
/* this isn't fixed.  it's the nav div that's fixed! */
}

.dropdown a {
	color: #E4FDE1;
	text-decoration: none;
}
.dropdown a:active {
	text-decoration: underline;
	background-color: #E4FDE1;
	color: rgba(71,106,111,1)
}
.backtotop {
	position: fixed;
	right: 20px;
	top: 15px;
}

.webify{
	font-weight: 600;
}
h1{
	font-weight: 100;
	font-size: 1.5em;	text-align: left;
	margin: 0;
}
.tagline{
	font-size: 2em;
	max-width: 900px;
	margin: 0 auto;
	padding: 5% 0;
	text-shadow: 1px 1px grey;

}

#description {
	font-family: Enriqueta;
	text-align: left;
	padding: 0 10% 5% 10%;
}


h2{
	font-size: 1.5em;
	font-weight: 100;
	text-shadow: 1px 1px grey;

}


h3{
	font-weight: 300;
	font-size: 1.4em;

}

.benefits{
	background: #476A6F;
	color: #E4FDE1;
	padding: 2% 5% 3% 5%; /*  38% padding gets rid of white space issue
	but creates too much empty space, so i placed the icon below as well*/
}


.bulletpt{
	display: flex; /*WHAAAAAAAT - this fixed the problem of text next to icons!*/
	align-items: center;
}


.icon{
	width: 7%;
	padding: 0 50px 0 0;
}
.icon img{
	width: 100%;
	min-width: 40px;
}



.docs{
	width: 30%;
	margin: 5% auto 0 auto;
}
.docs img{
	width: 100%;

}

.documents{
/*single column
(i fixed the spacing issues by making sure the
<ul> tag wasn't wrapping each group of three but instead the whole list!!  yay me! */
	padding: 3%;
}

ul {
}

.expect{
	clear: both;
	background: #D8CFAF;
	color: #26241f;
	padding: 2% 5%;
}

.pricing{
	background: #476A6F;
	color: #E4FDE1;
	padding: 2% 5%;
}

.breakdown{
	font-size: 100%;
	padding: 3%;

}

.fee{
	font-size: 1.2em;
	font-weight: 400;

}

.reqtitle{
	font-size: 120%;
}

.reqs{
	text-align: left;
	font-size: 100%;
}
.reqs .icon {
}
h4{
	font-weight: 300;
	font-size: 1.2em;
}
.detail{
	font-family: Enriqueta;
	font-size: 80%;
}

.time{
	background: #D8CFAF;
	color: #26241f;
	padding: 2% 5%;
}

.quote{
	background: #476A6F;
	color: #E4FDE1;
	padding: 2% 5%;
}

.form{
	font-family: lato;
	font-size: 100%;
	font-family: Lato;
	padding-bottom: 5%;
}

.submit {
	width: 80%;
	display: block;
	margin: 0 auto;
	font-size: 1em;
	height: 40px;
	border-radius: 15px;
	background-color: #D8CFAF;
	border: 1px solid #D8CFAF;
	color: #26241f;
	font-family: Enriqueta;
}



.faq{
	background: #D8CFAF;
	color: #26241f;
	padding: 2% 5%;
}

footer{
	background: #476A6F;
	color: #E4FDE1;
	padding: 2% 5%;
	font-family: Lato;
	font-size: 80%;
	font-weight: 300;
	text-align: center;
}

footer a{
	color: #E4FDE1;
	text-decoration:none;
}

footer a:hover{
	text-decoration: underline;
}

/*-----------
MEDIA QUERIES FOR LARGER BREAKPOINTS BEGIN HERE
--------------*/

@media screen and (min-width: 700px) {
	body {
		font-size: 150%;
	}
	.topbar nav {
		font-size: 100%;
	}
	.pagetitle {
		padding-top: 0;
	}
	nav {
		right: 60px; /* the start of this div location is what pushes the menu icon to the right. */
	}

	.tagline{
		font-size: 2.5em;
	}

	h2{
		font-size: 2em;
	}
	.documents{
		width: 27%;
		float: left;
	}
	.icon img{
		width: 60px;
	}
	.docs img{
		width: 200px;
	}

	.breakdown{
		font-size: 70%;
		width: 27%;
		float: left;
	}
	.reqs{
		clear: both;
	}
	.reqs h4{
		font-weight: 300;
		font-size: 1em;
	}
	.detail{
	font-size: 70%;
	}

	.form{
		font-family: lato;
		font-size: 80%;
		max-width: 70%;
		margin: 0 auto;
	}
	.submit {
		width: 50%;
		display: inline;
		box-shadow: 5px 5px 5px rgba(1,1,1,.5);

	}

}
