

// COLOR PALETTE
$color-accent: rgba(151,45,7,1); // "smokey topaz" #972D07, the burnt orange color
$color-light: rgba(250,235,235,1); // "linen" #FAEBEB
$color-dark: rgba(9,9,9,1); // "smoky black" #090909
$color-bg-dark: rgba(161,181,180,1); // "cambridge blue"
$color-links: rgba(2,98,110,1); // shade of metallic seaweed


// "cambridge blue" #a1b5b4  161,181,180
// "grizzly" #7E5920  126,89,32
// "khaki" #C9B79C  201,183,156
// "pale gold" #DCC48E  220,196,142


// "satin sheen gold" #CCA43B  204,164,59
// "smokey topaz" #972D07  151,45,7
// "japanese carmine" #8B2635  139,38,53


// FONTS

$font-body: 'Crimson Text';
$font-heading: 'Oswald';


// Breakpoints, still need to specify min or max
// $breakpoint-small-med: 500px;
// $breakpoint-med-big: 700px;
// $breakpoint-biggest: 1200px;
