

// COLOR PALETTE
$color-accent: rgba(186,86,36,1); // "ruddy brown" #ba5624
$color-light: rgba(250,235,235,1); //"linen" #FAEBEB
$color-dark: rgba(9,9,9,1); //"smoky black" #090909
$color-bg-dark: rgba(41,76,79,1); // "dark slate grey" #294c4F
$color-links: rgba(41,76,79,1); // "dark slate grey" #294c4F


// FONTS

$font-body: 'Crimson Text';
$font-heading: 'Oswald';


// Breakpoints, still need to specify min or max
// $breakpoint-small-med: 500px;
// $breakpoint-med-big: 700px;
// $breakpoint-biggest: 1200px;
