html {
	box-sizing: border-box;
	}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: Oxygen, sans-serif;
	margin: 0;
}
.title h1 {
	font-size: 3em;
}
.logo img {
	width: 100%;
}
.logo {
	width: 25%;
	margin: 0 auto;
	max-width: 200px;
}
header {
	text-align: center;
}
header ul{
	list-style: none;
	padding-left: 0;
}
.menu a {
	color: grey;
	text-decoration: none;
}
.menu a:hover {
	text-decoration: underline;
}
.menu li {
	display: inline;
	padding: 0 3%;
}
.tagline h2 {
	font-family: Oxygen, sans-serif;
	font-size: 1.5em;
	background-color: black;
	color: pink;
	padding: 2% 5%;
	font-weight: 200;
}

h1, h2, h3 {
	font-family: Crete Round, sans-serif;
	font-weight: 400;
}
h2 {
	font-size: 2em;
}

p {
	font-size: 1.3em;
	font-weight: 200;
}
.introduction h2 {
	text-align: center;
}
.introduction p {
	border-top: solid 3px black;
	border-bottom: solid 3px black;
	padding: 2% 10%;
	margin: 0 5%;
}

.subscribe {
	color: grey;
	font-size: .8em;
	margin: 0 15%;
	display: flex;
	align-items: center;
	clear: both;
}
.icon {
	float: left;
	margin: 0 auto;
	display: block;
	padding: 0 2%;
}
.twoicons {
	width: 100px;
	margin: 0 auto;
	background-color: red;
}


.container {
	margin: 10% 5%;
}
.entry {
	padding: 5%;
	outline: solid 1px black;
	outline-offset: -15px;
	height: 500px;
	position: relative;
}
.entry-odd {
	background-color: rgba(1, 1, 1, 0.15);
}
.entry-even {
	background-color: rgba(1, 1, 1, 0.3);
}
.date {
	font-family: Crete Round, sans-serif;
	font-size: 1em;
}
.button {
	background-color: black;
	color: white;
	padding: 2%;
	font-family: Crete Round, sans-serif;
	display: inline; /* INLINE VS BLOCK!  Helps if you want to the background-color to not highlight the whole line of text across the page.  By default, text is a "block"  */
}
.button a{
	color: white;
	text-decoration: none;
}
.button a:hover {
	color: pink;
}
.entry .taglist {
	position: absolute;
	bottom: 10px;
	width: 90%;
}
.taglist ul {
	list-style: none;
	padding-left: 0;
}
.taglist li {
	background-color: white;
	color: black;
	display: inline;
	padding: 2% 0;
	line-height: 2em;
}
/* PADDING AROUND INLINE ELEMENTS AND HIGHLIGHTING ON HOVER IS A DOOZY.  The Top/Bottom padding has to be set in the List Class, the Right/Left padding has to be set in the Link Class itself, and the Hover Class needs to match these both.*/
.taglist li a{
	text-decoration: none;
	color: black;
	padding: 2% 3%;
}
.taglist li a:hover {
	background-color: black;
	color: white;
	padding: 2% 3%;
}
.tags {
	display: inline;
}
footer {
	background-color: black;
	color: pink;
	padding: 2% 5%;
	clear: both;
}

.container article {
}

.condenseheader .logo {
	width: 10%;
	min-width: 50px;
	max-width: 100px;
	float: left;
	margin: 2%;
}
.condenseheader {
	display: flex;
	align-items: center;
}
.condenseheader .title {
	float: left;
	font-size: .5em;
	margin-top: 3%;
}


.tagline {
	clear: both;
}

article h2 {
	border-bottom: solid 3px black;
	padding: 2% 0;
}
article .date {
	font-size: 1.3em;
}
article .tags {
	display: block;
}
article .taglist {
	background-color: rgba(1, 1, 1, 0.15);
	padding: 2%;
}
.alltags {
	background-color: rgba(1, 1, 1, 0.3);
	padding: 1% 2% 2% 2%;
	margin-top: 5%;

}


/* ------ MEDIA QUERIES START HERE -----*/
@media screen and (min-width: 700px) {
	.entry {
		padding: 10%;
	}
	.entry-odd {
		float: left;
		width: 44%;
		margin: 2%;
		background-color: rgba(1, 1, 1, 0.15);
	}
	.entry-even {
		float: left;
		width: 44%;
		margin: 2%;
		background-color: rgba(1, 1, 1, 0.3);
	}
	.condenseheader .title {
		float: left;
		font-size: 1em;
		margin-top: 1%;
	}
/* adding floats makes my boxes lose its colors.  the container qualities are probably bleeding into the entry qualities because of the collapsing during floats.  TO FIX: I had to add the background-color back to the odd/even entry selectors separately. */
}

@media screen and (min-width: 1100px) {
	.entry-odd {
		width: 29%;
	}
	.entry-even {
		width: 29%;
	}


}
