body {
  font-family: helvetica neue, sans-serif;
  margin: 0;
  text-align: center;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container {
  padding: 10%;
}
footer {
  background-color: black;
  color: white;
  padding: 5%;
  line-height: 0.8em;
  margin: 0;
}
footer a {
  color: white;
}
