/* onyx */
/* platinum */
/* yellow orange */
/* darkgrey */
/* grey */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.centered-text {
  text-align: center; }

.normal-weight {
  font-weight: 400; }

.bold-weight {
  font-weight: 600; }

body {
  font-family: 'Libre Franklin', 'helvetica neue', sans-serif;
  color: #39393A; }

a {
  text-decoration: none;
  color: #FBB13C; }

a:hover {
  text-decoration: underline;
  color: #39393A; }

h2 {
  font-weight: 200; }

h3 {
  font-size: 1em; }

@media screen and (min-width: 500px) {
  h3 {
    font-size: 1.2em; } }
header {
  background-color: #39393A;
  border-bottom: 3px solid #e6e6e6; }

@media screen and (min-width: 500px) {
  header {
    font-size: 1em; } }
header a:hover {
  color: #E6E6E6; }

.tagline {
  font-size: 0.8em;
  font-weight: 400; }

@media screen and (min-width: 500px) {
  .tagline {
    font-size: 1.2em; } }
button {
  border: 2px solid #FBB13C;
  font-size: 1em;
  font-weight: 600;
  border-radius: 20px;
  background-color: white;
  transition: background-color 0.25s ease-in;
  color: #39393A; }

button:hover {
  background-color: #FBB13C;
  cursor: pointer; }

button p {
  text-align: left; }

.bttnsm {
  font-size: 0.8em; }

.submitbttn {
  border: 2px solid #FBB13C;
  font-size: 1em;
  font-weight: 600;
  border-radius: 20px;
  background-color: white;
  transition: background-color 0.25s ease-in;
  color: #39393A; }

.submitbttn:hover {
  background-color: #FBB13C; }

.feature h2 {
  font-weight: 400; }

.sectionbox {
  background-image: url(../imgs/patterns/knitting250px.png);
  /* Background pattern from Subtle Patterns */
  background-attachment: fixed; }

.navicon {
  font-size: 2em; }

.icon-chevron-with-circle-up {
  color: #39393A;
  font-size: 2em;
  background-color: white;
  border-radius: 50%; }

.profile-form h2 {
  font-weight: 600; }

input {
  border: 1px solid darkgrey;
  /* height affects checkboxes! */
  font-size: 1.3em; }

.overview button {
  font-size: 1.5em; }

.achieve .benefit {
  font-size: 0.8em; }

@media screen and (min-width: 700px) {
  .benefit p {
    text-align: center; } }
.overview h3 {
  font-size: 1.5em; }

.users h2 {
  font-size: 2em;
  font-weight: 600; }

@media screen and (min-width: 700px) {
  .users h2 {
    font-size: 3em; } }
#sharedbenefits {
  font-size: 0.8em;
  border-radius: 25px;
  padding-left: 15px;
  margin-top: 25px;
  width: 250px; }

#sharedbenefits h3 {
  font-weight: 200; }

.benefits {
  background-color: #E6E6E6;
  border: 1px dashed #39393A;
  border-radius: 25px;
  width: 80%;
  margin: 5% auto 0 auto;
  padding: 3%;
  overflow: auto; }

#popout {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  /* Enable scroll if needed */ }

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

.container h2, .invite h2 {
  color: #39393A;
  font-weight: 600;
  text-align: center;
  font-size: 2em;
  text-transform: capitalize; }

@media screen and (min-width: 500px) {
  .container h2, .invite h2 {
    font-size: 2.5em; } }
.container h3 {
  color: #FBB13C;
  font-weight: 200;
  font-size: 1.5em; }

@media screen and (min-width: 500px) {
  .container h3 {
    font-size: 2em; } }
.box-left {
  border-left: 3px solid #FBB13C;
  padding-left: 3%;
  overflow: auto;
  margin-bottom: 3%; }

.box-right {
  border-right: 3px solid #FBB13C;
  padding-right: 3%;
  overflow: auto;
  text-align: right;
  margin-bottom: 5%; }

@media screen and (min-width: 1000px) {
  .box-right {
    text-align: left;
    border-right: none;
    padding-right: 0;
    border-left: 3px solid #FBB13C;
    padding-left: 3%; } }
.story img {
  width: 100%;
  height: 100px;
  object-fit: cover; }

@media screen and (min-width: 700px) {
  .story {
    width: 30%;
    padding: 1%;
    float: left;
    overflow: hidden; }

  .story img {
    height: auto;
    max-height: 200px; }

  .success {
    overflow: auto; } }
.content {
  clear: both;
  margin-top: 5%; }

/*-- other pages --*/
.signup {
  font-size: 1.5em; }

.sample {
  max-width: 500px;
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 25px; }

.sample img {
  width: 100%; }

/*-- invite section --*/
.socialicon {
  /* the ones in buttons */
  font-size: 2em; }

.invite textarea {
  font-size: 1em; }

.icon-heart, .icon-paper-plane {
  font-size: 1.5em; }

footer {
  background-color: #39393A;
  font-size: 0.7em;
  color: white;
  width: 100%; }

footer a:hover {
  color: #E6E6E6; }

.great {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  margin: 200px 0; }

@media screen and (min-width: 700px) {
  .great {
    margin: 0;
    padding: 5%; }

  .greatneighbors {
    padding: 5% 0;
    text-align: left;
    max-width: 1000px;
    margin: 0 auto; } }
body {
  margin: 0; }

header {
  margin: 0;
  padding: 10px 5%;
  width: 100%;
  color: white; }

.housingmatchicon {
  float: left;
  width: 50px;
  overflow: auto;
  padding-top: 10px; }

@media screen and (min-width: 500px) {
  .housingmatchicon {
    width: 80px;
    padding-top: 0; } }
.housingmatchicon img {
  width: 100%;
  padding-right: 10px; }

.fireplacetitle {
  clear: both; }

.fireplacetitle h1 {
  margin: 0;
  color: white;
  font-weight: 600; }

.fireplacetitle h3 {
  clear: both;
  font-size: 1.5em;
  font-weight: 200;
  padding-top: 20px; }

@media screen and (min-width: 700px) {
  .fireplacetitle h1 {
    font-size: 3em; }

  .fireplacetitle h2 {
    font-size: 3em; }

  .fireplacetitle h3 {
    font-size: 2em; }

  .fireplacetitle p {
    font-size: 1.5em; } }
nav {
  float: right;
  padding-top: 10px;
  width: 80%; }

nav ul {
  margin: 0;
  padding: 0; }

nav li {
  display: inline-block;
  text-decoration: none;
  color: #FBB13C;
  font-weight: 200;
  padding-left: 30px;
  float: right; }

@media screen and (min-width: 1000px) {
  nav li {
    font-size: 1.5em;
    padding-left: 10%; } }
@media screen and (max-width: 500px) {
  nav {
    width: 200px;
    padding-top: 0px; }

  nav li {
    width: 150px;
    text-align: right; } }
@media screen and (min-width: 1000px) {
  .achieve {
    width: 85%;
    margin: 0 auto; } }
.container {
  margin: 0 5%; }

.summary {
  margin-bottom: 3%; }

button {
  width: 200px;
  padding: 5px;
  clear: both; }

button p {
  margin: 5px 0 0 0; }

.bttnsm {
  width: 70px; }

.submitbttn {
  padding: 5px;
  margin-top: 30px;
  clear: both; }

.featuresworking {
  margin-bottom: 5%; }

section {
  clear: both;
  padding: 1% 0; }

.sectionbox {
  padding: 0 3% 3% 3%; }

.icon-gift {
  margin: 15% 0; }

.navicon {
  float: right;
  position: relative;
  bottom: 60px; }

.icon-chevron-with-circle-up {
  position: fixed;
  bottom: 5px;
  right: 10px;
  z-index: 3; }

.offsetforanchor {
  position: relative;
  bottom: 500px; }

.purpose h1 {
  font-size: 2.5em; }

.purpose h2 {
  font-size: 2.5em; }

@media screen and (min-width: 700px) {
  .purpose h1, .purpose h2 {
    background-color: rgba(230, 230, 230, 0.5);
    padding: 1%; }

  .purpose h1 {
    font-size: 3em; }

  .purpose h2 {
    font-size: 3em; } }
@media screen and (min-width: 1000px) {
  .sliding-frame {
    min-width: 500px; }

  .purpose {
    width: 75%;
    float: left;
    padding-right: 20px; } }
/*-- FORM --*/
.overview .profile-form {
  border: 1px solid black;
  padding: 10px;
  margin-top: 50px;
  background-color: rgba(230, 230, 230, 0.5); }

@media screen and (min-width: 1000px) {
  .overview .profile-form {
    width: 25%;
    float: right; } }
.row-form {
  clear: both; }

.col6 {
  width: 50%;
  float: left; }

.col12 {
  width: 100%;
  max-width: 800px; }

input .col6, input .col12 {
  height: 50px; }

form {
  clear: both;
  margin-bottom: 3%; }

input {
  padding-left: 2%;
  /* affects checkboxes! */
  height: 40px; }

@media screen and (min-width: 1000px) {
  .col6, .col12 {
    font-size: 0.8em; }

  input {
    height: 30px; } }
@media screen and (min-width: 1200px) {
  .col6, .col12 {
    font-size: 1.2em;
    height: 50px; } }
.dropdown-style {
  width: 100%;
  max-width: 800px; }

select {
  height: 30px;
  font-size: 1.2em; }

.overview {
  width: 100%;
  background-image: url(../imgs/unsplash_room-sm.jpg);
  background-size: cover;
  overflow: auto;
  background-position: center; }

/* .overview::after {  snippet from https://css-tricks.com/snippets/css/transparent-background-images/
  content: "";
  width: 100%; // this fixed the scaling issue
  background-image: url(../imgs/unsplash_room-sm.jpg); // takes a VERY long time to load up new image.  30+ min
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
}*/
@media screen and (min-width: 1000px) {
  .overview {
    background-image: url(../imgs/unsplash_room.jpg); }

  .users h2 {
    text-shadow: 2px 2px 3px white; } }
.overview button {
  margin-right: 2%;
  margin-bottom: 2%;
  width: 80%; }

.benefits .benefit, header .benefit {
  clear: both;
  width: 250px;
  padding-left: 10px;
  margin: 0 auto; }

.content p {
  font-size: 1.2em; }

.content h3 .sub {
  color: #FBB13C; }

.content h2 {
  font-size: 1.7em;
  margin: 20px;
  display: block; }

.content .bolder {
  font-weight: 600; }

.content h4 {
  font-size: 1.3em; }

@media screen and (min-width: 700px) {
  .content h2 {
    font-size: 2.5em; } }
.fears .benefit {
  clear: both;
  width: 200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px; }

.fearsexpanded {
  display: none; }

@media screen and (min-width: 700px) {
  .fearsexpanded {
    display: inline; } }
.icon-benefit {
  width: 30px;
  margin-right: 5px; }

.benefit img {
  width: 100%;
  margin: 0 auto; }

.icon-benefit {
  float: left; }

@media screen and (min-width: 700px) {
  .icon-benefit {
    float: none;
    margin: 0 auto;
    width: 90px; }

  .benefits .benefit, header .benefit {
    width: 25%;
    float: left;
    overflow: auto;
    clear: none; }

  .fears .benefit {
    width: 25%;
    float: left;
    overflow: auto;
    clear: none; } }
.threeparts {
  font-size: 1.5em; }

@media screen and (min-width: 1000px) {
  .threeparts {
    max-width: 600px;
    margin: 0 auto; }

  .threeparts .bttnmed {
    width: 100%; } }
/*-- invite section --*/
.socialicon {
  /* the ones in buttons */
  float: left;
  padding-right: 5px;
  padding-left: 10px; }

.invite textarea {
  height: 100px;
  width: 80%; }

.invite button {
  width: 220px;
  margin-right: 3%; }

.invite h3 {
  margin-top: 0; }

.invite h4 {
  margin-bottom: 0;
  font-weight: 200; }

.bttnbig {
  margin-bottom: 15px; }

.copylink {
  margin: 30px 0; }

/*-- follow-contact --*/
.outside-container {
  padding: 3% 5%; }

.icon-heart, .icon-paper-plane {
  display: inline-block;
  padding: 0 1%; }

footer {
  padding: 2% 5%; }

.style-bold {
  font-weight: 600; }

.users {
  display: inline-block;
  width: 100%; }

@media screen and (min-width: 700px) {
  .users {
    float: left; } }
.offset h2 {
  margin-bottom: 0;
  margin-top: 30px;
  font-weight: 200; }

@media screen and (min-width: 700px) {
  .offset {
    float: left;
    padding-right: 20px; } }
.appearing-users h2 {
  margin: 0;
  padding: 0;
  overflow: auto; }

.sliding-frame {
  display: none; }

@media screen and (min-width: 700px) {
  .sliding-frame {
    display: inline-block;
    height: 100px;
    position: relative;
    overflow: hidden;
    width: 70%; } }
@media screen and (min-width: 1000px) {
  .sliding-frame {
    width: 70%; } }
@media screen and (min-width: 700px) {
  .appearing-users {
    display: none; }

  .users {
    width: 100%; }

  .sliding-users {
    position: relative;
    animation: scrollwords 20s ease infinite;
    /* ease is default */
    animation-delay: 3s; }

  .sliding-users h2 {
    font-size: 3em; }

  @keyframes scrollwords {
    /* 7 words, 7 pauses */
    0% {
      top: -10%; }
    5% {
      top: -10%; }
    /* added this for more time on repeat */
    15% {
      top: -110%; }
    30% {
      top: -210%; }
    45% {
      top: -310%; }
    60% {
      top: -410%; }
    75% {
      top: -510%; }
    100% {
      top: -610%; } } }

/*# sourceMappingURL=fireplace-launch.css.map */
