/* nice palette: https://coolors.co/297373-e6e6e6-39393a-fbb13c-undefined */

* {
  box-sizing: border-box;
  	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
  font-family: helvetica neue, sans-serif;
  margin: 0;
  color: #39393A; /* onyx */
}
a {
  text-decoration: none;
  color: #FBB13C; /* yellow orange */
}
a:hover {
  text-decoration: underline;
  color: #39393A; /* onyx */
}
.fireplacetitle a:hover{
  text-decoration: underline;
}

header {
  margin: 0;
  padding: 10px 5%;
  overflow: auto;
  font-size: 0.8em;
  z-index: 2;
  background-color: white;
  width: 100%;
  height: 80px;
  border-bottom: 3px solid #e6e6e6;
}
  @media screen and (min-width: 500px) {
    header {
      font-size: 1em;
      height: 100px;
      position: static;
    }
  }

/* do i even want a sticky nav when screen size is so small??
position: fixed;

.belowstickynav {
  position: relative;
  top: 77px;
}
  @media screen and (min-width: 500px) {
    .belowstickynav {
      top: 0px;
    }
  }
---------------- */



.housingmatchicon {
  float: left;
  width: 50px;
  overflow: auto;
  padding-top: 10px;
}
  @media screen and (min-width: 500px) {
    .housingmatchicon {
      width: 80px;
      padding-top: 0;
    }
  }
.housingmatchicon img {
  width: 100%;
  padding-right: 10px;
}
.fireplacetitle {
  float: left;
  width: 50%;
}
.fireplacetitle h1 {
  margin: 0;
  font-weight: 500;
}
.tagline {
  font-size: 0.8em;
  font-weight: 400;
  margin-top: 0;
}

nav {
  float: right;
  width: 30%;
  margin-top: 15px;
}
  @media screen and (min-width: 500px) {
    nav {
      width: 20%;
    }
  }
nav h3 {
  text-align: right;
  margin: 0;
  color: #FBB13C; /* yellow orange */
  font-weight: 200;
}
.container {
  margin: 0 5%;
}
.summary {
  margin-bottom: 3%;
}

button {
  width: 200px;
  padding: 5px;
  border: 2px solid #FBB13C; /* yellow orange */
  font-size: 1em;
  font-weight: 500;
  border-radius: 20px;
  clear: both;
  background-color: white;
  transition: background-color 0.25s ease-in;
  color: #39393A; /* onyx */
  font-family: helvetica neue, sans-serif;
}
button:hover {
  background-color: #FBB13C; /* yellow orange */
}
button p {
  margin: 5px 0 0 0;
  text-align: left;
}
.bttnsm {
  width: 70px;
  font-size: 0.8em;
}
.bttnmed {

}
.featuresworking {
  border: 2px dashed #FBB13C; /* yellow orange */
  margin-bottom: 5%;
}
.feature h2 {
  font-weight: 300;
}
.subheading {
  font-size: 3em;
  text-align: center;
}
.featuresworking h2 {
}
.feat {
  color: #FBB13C; /* yellow orange */
  font-weight: 200;
}

section {
  clear: both;
  overflow: auto;
  padding: 1% 0;
}
.sectionbox {
  background-color: #E6E6E6; /* platinum */
  padding: 0 3% 3% 3%;
}
.feature {
  border-bottom: 2px dashed #FBB13C; /* yellow orange */
  padding-bottom: 50px;
  width: 80%;
  margin: 0 auto;
}
.feature:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.navicon {
  font-size: 2em;
  float: right;
  position: relative;
  bottom: 60px;
}
.icon-chevron-with-circle-up {
  color: #39393A; /* onyx */
  font-size: 2em;
  position: fixed;
  bottom: 5px;
  right: 10px;
  z-index: 3;
  background-color: white;
  border-radius: 50%;
}
.offsetforanchor {
  position: relative;
  bottom: 500px;
}

/*------ FORM LAYOUT AND STYLING -----*/
.row-form {
  clear: both;
}
form {
  clear: both;
  margin-bottom: 3%;
}
input {
  border: 1px solid darkgrey;
  /* height affects checkboxes! */
  font-size: 1.3em;
  padding-left: 2%; /* affects checkboxes! */
}
.dropdown-style {
  width: 100%;
  max-width: 700px;
} /* lookup how to style dropdown, fontsize doesn't render*/
.form-basic-info input {
  border: 1px solid blue;
  margin-bottom: 1%;
}

.overview {
  position: relative;
}

.overview::after { /* snippet from https://css-tricks.com/snippets/css/transparent-background-images/  */
  content: "";
  background-image: url(https://images.unsplash.com/photo-1422479278902-8cef24992df0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=b3792fa660f10a17b1abfe7109b68a49);
  opacity: 0.5;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.overview h2 {
  font-size: 2em;
  margin-top: 30px;
}
.overview button {
  margin-right: 2%;
  margin-bottom: 2%;
  width: 80%;
  font-size: 1.5em;
}
.overview .benefit {
  width: 25%;
  float: left;
  overflow: auto;
  text-align: center;
  font-size: 0.8em;
}
.benefit img {
  width: 50px;
  margin: 0 auto;
}


/* browse section styling ----------- */

.light-weight-p {
  font-weight: 200;
}
.browse .avatar-row {
  clear: both;
  display: flex;
  height: 320px;
  overflow-x: scroll;/* if i don't have these ,it includes the h2 */
  overflow-y: hidden;
}
.right-side-info { /* define the type of avatar box that has buttons or text on the right side */
  min-width: 200px; /* added this to fix the horizontal scroll probelm!  */
  height: 300px;
  border: 2px solid grey;
  float: left;
  padding: 5px;
  margin-right: 50px;
}
.right-side-info .avatar {
  margin: 0;
}
.right-side-info img {
  border-radius: 10px;
}

/* group section styling ----------- */
.onegroup {
  border: 2px solid #FBB13C; /* yellow orange */
  padding: 0 2%;
  margin: 2% 2% 2% 0;
  width: 120px;
  min-height: 120px;
  float: left;
}
.onegroup:last-child {
  border: 2px dashed #FBB13C; /* yellow orange */

}


/* discover section styling ----------- */
.discover .avatar-row {
  border: 2px solid grey;
  height: 130px;
  overflow: auto;
  clear: both;
  display: flex;
  padding: 2%;
}
.avatar {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}
.avatar img {
  width: 100%;
  filter: saturate(40%);
}
.button-below-avatar {
  width: 90px;
  float: left;
  text-align: center;
  margin-right: 20px;

}
.socialmediaicons .socialicon {
  padding: 2% 2% 2% 0;;
}


/* analyze section styling ----------- */

.building img {
  width: 100%;
  padding-left: 2%;
}
.col6 {
  width: 100%;
}
  @media screen and (min-width: 800px) {
    .col6 {
      width: 50%;
      max-width: 500px;
      float: left;
    }
  }

/* rewards section styling ----------- */
.icon-gift {
  font-size: 5em;
  text-align: center;
  margin: 15% 0;
}

/* invite section styling ----------- */
.socialicon { /* the ones in buttons */
  font-size: 2em;
  float: left;
  padding-right: 5px;
}
.invite textarea {
  height: 100px;
  width: 80%;
  font-size: 1em;
}
.invite button  {
  width: 100%;
}
.bttnbig {
  margin-bottom: 15px;
}
  @media screen and (min-width: 800px) {
    .invite button  {
      width: 200px;
      margin-right: 3%;
    }
  }

/* follow-contact section styling ----------- */
.outside-container {
  padding: 3% 5%;
}
.centered-text {
  text-align: center;
}
.icon-heart, .icon-paper-plane {
  font-size: 1.5em;
  display: inline-block;
  padding: 0 1%;
}

footer {
  margin: 0 5%;
  padding: 2% 0;
  font-size: 0.7em;
}




/* convert this breakpoint to SASS variable!! */
@media screen and (min-width: 700px) {
  .overview h2 {
    font-size: 3em;
  }
  .benefit img {
    width: 90px; /* move to desktop, reduce for mobile */
  }
  .overview .benefit {
    font-size: normal;
  }
}
